.about-container h1{
    text-align: left;  
    margin-left: 20px;    
    margin-right: auto; 
    color: rgb(70, 59, 59);
    font-size: 2.5em;
    margin-bottom: 20px;
    text-decoration: underline;
}

.about-container p{
    text-align: left;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    padding: 0 20px;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}

.about-text {
    flex: 2;
}

.progress-section {
    background-color: rgb(240, 234, 221);
    flex: 1;
    padding: 50px;
    border-left: 2px solid rgb(190, 179, 161);
}

.btn-links{
    margin-top: 20px;
    display: flex;
    gap: 15px; 
    padding-left: 20px;
}

.btn-links button{
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-links .contact-me{
    background-color: rgb(161, 150, 132);
    font-weight: bold;

}

.btn-links .resume{
    background-color: rgb(161, 150, 132);
    color: black;
    font-weight: bold;
}

.btn-links .contact-me:hover{
    background-color: rgb(190, 179, 161);
    transition: background-color 0.3s ease;
}

.btn-links .resume:hover{
    background-color: rgb(170, 160, 144);
    color: white;
    transition: background-color 0.3s ease;
}