.footer-container {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px;
  flex-wrap: wrap; /* pour être responsive */
  
}

.footer-content-1,
.footer-content-2,
.footer-content-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-content-2 {
  text-align: left;
}

.footer-content-3 {
  text-align: right;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons a {
  color: #bfbfbf;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #ffffff;
}

/* Responsive : s’empile sur petits écrans */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
  }

  .footer-content-3 {
    text-align: center;
  }
}
