.notfound-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nf-photo{
    width: 300px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}