.popup-header {
  position: fixed;
  top: -100px; 
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: bold;
  transition: top 0.6s ease-in-out;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
}

.popup-header.show {
  top: 0; 
}

.popup-header.hide {
  top: -1000px;
}

.popup-image {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  transform: translateX(100%);
}

.popup-msg {
    text-align: center;
    transform: translateX(-20%);
}

