.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  padding: 40px;
  justify-items: center;
}

.project-card {
  background-color: #817b7b; /* légèrement différent du fond */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: black;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.project-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-title {
  font-weight: 600;
  color: #f5f5f5;
  margin-top: 10px;
  text-align: center;
}

.project-description {
  color: #cfcfcf;
  font-size: 0.95rem;
  margin: 10px 20px 20px;
}
